{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="search_deep">
<input type="text" id="search-input" placeholder="Search videos...." />
</div>
<div class="Blur black container-search">

</div>
<div id="search-results" class="Blur black container-search">
    {% for post in posts %}
    {% empty %}
        <p>Hozircha postlar yo‘q.</p>
    {% endfor %}
</div>

<div class="G29dLm8y">  {# Masonry-style gallery #}
    {% for post in posts %}
    <div class="f8RkXl92">
        {% if post.image %}
            <img class="yT7lPz3x" src="{{ post.image.url }}" alt="Post Image">
        {% elif post.video %}
            <video class="yT7lPz3x" controls>
                <source src="{{ post.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% endif %}
        <div class="T19cV0">
            @{{ post.author.username }} |
            {{ post.like_typer }} ❤️ |
            {{ post.views_typer }} 👁 |
            {{ post.comment_count }} 💬
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
$(document).ready(function () {
    $("#search-input").on("keyup", function () {
        let query = $(this).val();

        $.ajax({
            url: "{% url 'app:search-ajax' %}",
            data: { q: query },
            success: function (data) {
                let results = $("#search-results");
                results.empty();

                if (data.length === 0) {
                    results.append("<p>Hech narsa topilmadi.</p>");
                } else {
                    data.forEach(post => {
                        let html = `
                            <div class="f8RkXl92">
                                ${post.image ? `<img class="yT7lPz3x" src="${post.image}" alt="Post Image">` : ""}
                                ${post.video ? `
                                    <video class="yT7lPz3x" controls>
                                        <source src="${post.video}" type="video/mp4">
                                    </video>` : ""}
                                <div class="T19cV0">
                                    <strong>@${post.author}</strong><br>
                                    ${post.text || "(Matn yo'q)"} <br>
                                    ${post.created_at}
                                </div>
                            </div>
                        `;
                        results.append(html);
                    });
                }
            }
        });
    });
});
</script>
    {% endfor %}
</div>
{% endblock content %}
