{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Media</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <center id="navsentr">
    <nav class="nav_container">
      <a id="Home" href="{% url 'home'%}">
        <h5>PID</h5>
      </a> <!--home-->
      <a id="Saved" href="{% url 'saved'%}">
        <h5>Saved</h5>
      </a> <!--Saved-->
      <a id="Prof" href="{% url 'prof'%}">
        <h5>Profile</h5>
      </a> <!--Profile-->
      <a id="Blog" href="{% url 'blog'%}">
        <h5>Blogs</h5>
      </a> <!--Blogs-->
      <a id="Search" href="{% url 'search'%}">
        <h5>Search</h5>
      </a> <!--Search-->
      <a id="Chat" href="{% url 'chat'%}">
        <h5>Chat with your friends</h5>
      </a> <!--Chat-->
    </nav>
    {% block content %}
    <div id="Blog_container">
      {% for post in post.objetall %}
      <div class="blog_card">
        <p id="auth">@{{post.author}}</p>
        <img src="{{ post.Image.urls }}" width="100%" height="250">
        <p class="Info">
          <a href="">#AI #Art #AI #GPT #DellAI #Midjorney</a></br> in this site and
          how I see this site the first
        <div class="saved">
          <p id="like_count">473K</p>
          <p id="save_count">234K</p>
          <!--Like icon!-->
          <svg aria-label="Notifications" class="x1lliihq x1n2onr6 x5n08af"  fill="currentColor" height="24px" role="img"
            viewBox="0 0 24 24" width="24px" id="like">
            <title>Notifications</title>
            <path
              d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z">
            </path>
          </svg>
          <!--Save icon button-->
          <svg xmlns="http://www.w3.org/2000/svg" id="icon_save" width="28" height="28" viewBox="0 0 36 36">
            <defs>
            </defs>
            <g id="i_c_o_n_s" data-name="i c o n s">
              <path
                d="M33,10H27a1,1,0,0,0-1,1v1.99963a1,1,0,0,0,1,1h3V30H6V13.99963H9a1,1,0,0,0,1-1V11a1,1,0,0,0-1-1H3a1,1,0,0,0-1,1V33a1,1,0,0,0,1,1H33a1,1,0,0,0,1-1V11A1,1,0,0,0,33,10Z" />
              <path
                d="M10.20361,17.33142l7.4458,7.525a.4999.4999,0,0,0,.70118,0l7.4458-7.525A.785.785,0,0,0,26,16.80469.8.8,0,0,0,25.19824,16H20V3a1,1,0,0,0-1-1H17a1,1,0,0,0-1,1V16H10.80176A.8.8,0,0,0,10,16.80469.785.785,0,0,0,10.20361,17.33142Z" />
            </g>
          </svg>
          </svg>
        </div>
      </div>
    </div>

    {% endblock content %}

  </center>
    <div class="footer">
      <copyRight>THONY</copyRight>
      <h3 class="footer_text"><a href="#">API</a></h3>
      <h3 class="footer_text"><a href="#">About us</a></h3>
      <h3 class="footer_text"><a href="#">Contact</a></h3>
      <h3 class="footer_text"><a href="#">others</a></h3>
    </div>
</body>
</html>